OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_BASE_MODEL=qwen3:8b
LANGSMITH_API_KEY=
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_PROJECT=
SERPER_API_KEY=
POLYGON_API_KEY=
RUN_EVEN_WHEN_MARKET_IS_CLOSED=
GEMINI_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=
OPENROUTER_BASE_MODEL=
USE_MANY_MODELS=
NEXUS_TEMPERATURE=
NEXUS_MAX_RETRIES=
NEXUS_MONITOR_INTERVAL=
NEXUS_SANDBOX_TIMEOUT=